.rates__cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 370px));
    gap: 24px;
    justify-content: center;
}

.rates__header {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    justify-items: center;
    margin-bottom: 40px;
}

@media (max-width: 812px) {
    .rates__header {
        justify-items: start;
        width: 100%;
        max-width: 370px;
        margin: 0 auto 40px;
    }
}