body {
    background: linear-gradient(180.00deg, rgb(55, 65, 81), rgb(17, 24, 39) 100%);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #4B5563;
} 

h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    margin: 0 0 30px 0;
    text-align: center;
}

/* HEADER */
header {
    margin: 80px auto;
    display: flex;
    max-width: 1080px;
    align-items: center;
}

.logo_anchor {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    display: flex;
    align-items: center;
    margin-right: 78px;
    gap: 11px;
}

.logo_anchor div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: #4B5563;
    border-radius: 3px;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 32px;
}

.menu a,
.search input {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px
}

.search {
    margin-left: auto;
    position: relative;
}

.search img {
    position: absolute;
    top: 13px;
    left: 18px;
}

.search input {
    color: #adb2b7;
    background-color: #1f293799;
    border: none;
    border-radius: 100px;
    padding: 10px 0 10px 50px;
}

/* MAIN */
main {
    max-width: 1080px;
    margin: 0 auto;
}

.hero_section {
    margin-bottom: 70px;
}

.title {
    color: #adb2b7;
    margin-bottom: 14px;
    text-align: center;
}

.title,
.profile_person {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.heroImage {
    display: block;
    margin: 0 auto;
}

.profile {
    margin-bottom: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 16px;
}

.profile_person p:first-child {
    color: #fff;
    margin-bottom: 18px;
}

.profile_person p:last-child {
    color: #adb2b7;
}

.article_section {
    color: #fff;
    font-weight: 400;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.article_section p:first-child {
    font-size: 20px;
    line-height: 32px;
}

.article_section p:not(:first-child) {
    font-size: 16px;
    line-height: 30px;
}

.article_section p:not(:last-child) {
    margin-bottom: 25px;
}

/* FOOTER */
footer {
    color: #adb2b7;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 80px;
    text-align: center;
}

@media (max-width: 730px) {
  header {
    flex-direction: column;
    gap: 40px;
  }

  .search {
    margin-left: 0;
  }

  .logo_anchor {
    margin-right: 0;
  }

  .menu ul {
    gap: 70px;
  }

  .article_section {
    padding: 0 40px;
  }
}